<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Club Curmudgeon</title>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
      integrity="sha384-haqrlim99xjfMxRP6EWtafs0sB1WKcMdynwZleuUSwJR0mDeRYbhtY+KPMr+JL6f"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div>
        <h1>
          Club<br />Curmudgeon
          <i class="fas fa-heart" style="font-size: 24px; color: #ff0054"></i>
        </h1>
      </div>
    </header>
    <div id="container">
      <div>
        <h2>
          Matchmaker, <br />
          Matchmaker
          <i class="far fa-heart" style="font-size: 24px; color: #ff0054"></i>
        </h2>
      </div>
      <div>
        <p>
          Thanks! Your answers will help others get a sense of your personality.
        </p>
        <p>
          Our Pritzker-Pulitzer-Prize winning algorithm was developed by the
          world's leading experts on behavioral science, psychology, design, and
          marketing.
        </p>
        <p>You can trust Club Curmudgeon to help you find a match.</p>
      </div>
      <a href="<%= next %>"
        ><button class="main-button">Catch Me A Catch</button></a
      >
    </div>
  </body>
</html>
